# ==========================
# Global
# ==========================
.DS_Store
*.log
*.env
*.env.*
.envrc
node_modules/
dist/
build/
coverage/
__pycache__/
*.py[cod]
*.sqlite3
.cache/
*.bak
*.swp

# ==========================
# Python (Backend)
# ==========================
/backend/.venv/
/backend/.mypy_cache/
/backend/.pytest_cache/
/backend/*.sqlite3
/backend/instance/
/backend/.coverage
/backend/poetry.lock

# ==========================
# Node.js (Frontend + Mobile)
# ==========================
/frontend/node_modules/
/frontend/.parcel-cache/
/frontend/.next/
/frontend/.turbo/
/frontend/.vite/
/frontend/dist/
/frontend/.eslintcache

/mobile/node_modules/
/mobile/.expo/
/mobile/web-build/
/mobile/.expo-shared/
/mobile/android/
/mobile/ios/
/mobile/dist/
/mobile/.vscode/
/mobile/coverage/

# ==========================
# Docker
# ==========================
docker-compose.override.yml
**/.docker-volume/
**/docker-volume/
*.pid

# ==========================
# IDEs
# ==========================
.idea/
.vscode/
*.iml

# ==========================
# OS Artifacts
# ==========================
Thumbs.db
ehthumbs.db
Desktop.ini

# ==========================
# Mac OS
# ==========================
.DS_Store
.AppleDouble
.LSOverride

# ==========================
# JetBrains
# ==========================
*.ipr
*.iws
*.idea/
*.iml
out/

# ==========================
# Misc
# ==========================
/docs/site/
docs/build/
docs/mkdocs.yml.lock
